:root {
    --gray1: #ffffff;
    --gray2: #e4e4e4;
    --gray3: #dbdbdb;
    --gray4: #CFCFCF;
    --gray5: #373737;

    --tealLight: #1ea4d7;
    --tealDark: #002e41;
}

body {
    background-color: var(--gray1);
}

header {
    background-color: var(--gray3);
    box-shadow: 0 -10px 20px 20px var(--tealLight);
}

header nav a {
    text-decoration: none;
}

header nav .logo {
    background: url(./assets/icon_dark.png);
}

header nav .wrapper .p1 {
    color: #000000;
}

header nav .wrapper .p2 {
    color: #504f4f;
}

header nav .link {
    color: #000000;
    background: var(--gray3);
}

header nav .link:hover {
    background: var(--tealLight);
    box-shadow: 1px 2px 10px var(--tealLight);
}

.welcome .container .bg {
    /*background: url(./assets/gallery/photos/IMG_2107.png);
    background-size: cover;
    background-position: top ;
    background-repeat: no-repeat;*/
    background: var(--gray2);
}

.welcome .container .wrapper .h {
    color: #000000;
}

.welcome .container .wrapper .cursivep {
    color: #080808;
}

.welcome .container .wrapper .p {
    color: #000000;
}

.welcome .container .checkGallery {
    background: var(--tealDark);
    color: #ffffff;
}

.gallery .container {
    background: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container .wrapper .h {
    color: #000000;
}

.gallery .container .wrapper .p {
    color: #000000;
}

.gallery .container a {
    color: var(--tealDark);
}

.el {
    background: var(--tealLight);
}

.packages .container .h {
    background: #252a31;
    color: #ffffff;
}

.tier1,
.tier2,
.tier3 {
    background: var(--tealDark);
}

.empty1,
.empty2,
.empty3 {
    background-color: var(--gray4);
}

.packages .container .el .p {
    color: #ffffff;
}

.packages .container .el .price {
    color: #ffffff;
}

.packages .container .offer {
    color: #FF8A80;
    background: #333333;
}

.logodetail .container {
    background: var(--gray2);
    border: #000000 1px solid;
}

.logodetail .h {
    color: #000000;
}

.logodetail .hp{
    color: #000000;
}

.logodetail .p{
    color: #474747;
}

.logodetail li {
    color: #504f4f;
}

.logodetail li::before {
    color: #000000;
}

.flyersdetail .container {
    background: var(--gray2);
    border: #000000 1px solid;
}

.flyersdetail .h {
    color: #000000;
}

.flyersdetail .p{
    color: #474747;
}

.flyersdetail li {
    color: #504f4f;
}

.flyersdetail li::before {
    color: #000000;
}