:root {
    --gray1: #ffffff;
    --gray2: #e4e4e4;
    --gray3: #dbdbdb;
    --gray4: #CFCFCF;
    --gray5: #373737;

    --tealLight: #1ea4d7;
    --tealDark: #002e41;
}

.ham {
    background: url(./assets/menulight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hammenu {
    background: #ffffff;
}

.hammenuitem {
    color: #000000;
    border: #000000 1px solid;
}

.hammenuitem a {
    color: #000000;
}

body {
    background-color: var(--gray1);
}

header {
    background-color: var(--gray3);
    box-shadow: 0 -10px 20px 20px var(--tealLight);
}

header nav a {
    text-decoration: none;
}

header nav .logo {
    background: url(./assets/icon_dark.png);
}

header nav .wrapper .p1 {
    color: #000000;
}

header nav .wrapper .p2 {
    color: #504f4f;
}

header nav .link {
    color: #000000;
    background: var(--gray3);
}

header nav .link:hover {
    background: #000000;
    color: #ffffff;
}

.welcome .container .bg {
    background: url(./assets/BG\ land.jpg);
    background-size: cover;
    background-position: top ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcome .container .wrapper {
    backdrop-filter: blur(5px);
    border: #000000 1px solid;
    box-shadow: #000000 0px 0px 3px 0px;
    border-radius: 10px;
    padding: 10px;
}

.welcome .container .wrapper .h {
    color: #000000;
}

.welcome .container .wrapper .cursivep {
    color: #080808;
}

.welcome .container .wrapper .p {
    color: #000000;
}

.welcome .container .checkGallery {
    background: var(--tealDark);
    color: #ffffff;
}

.gallery .container {
    background: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container .wrapper .h {
    color: #000000;
}

.gallery .container .wrapper .p {
    color: #000000;
}

.gallery .container a {
    color: var(--tealDark);
}

.el {
    background: var(--tealLight);
}

.packages .container .h {
    background: #252a31;
    color: #ffffff;
}

.tier1,
.tier2,
.tier3 {
    background: var(--tealDark);
}

.empty1,
.empty2,
.empty3 {
    background-color: var(--gray4);
}

.packages .container .el .p {
    color: #ffffff;
}

.packages .container .el .price {
    color: #ffffff;
}

.packages .container .offer {
    color: #FF8A80;
    background: #333333;
}

.detail .container {
    background: var(--gray2);
    border: #000000 1px solid;
    box-shadow: inset #000000 0px 0px 0px 0.5px;
}

.detail .h {
    color: #000000;
}

.detail .hp{
    color: #000000;
}

.detail .p{
    color: #474747;
}

.detail li {
    color: #504f4f;
}

.detail li::before {
    color: #000000;
}

hr {
    border: 1px solid var(--gray4);
}

.con-container {
    background-color: var(--gray5);
    border: var(--tealLight) 1px solid;
}

label {
    color: #ffffff;
}

select, input[type="text"], button {
    border: solid 1px var(--tealLight);
    color: var(--gray4);
    background-color: var(--gray5);
}

select:focus, input[type="text"]:focus, button:focus {
    border: solid 1px var(--tealDark);
}

button {
    background-color: var(--tealLight);
    color: #ffffff;
}

button:hover {
    background-color: var(--tealDark);
    color: #ffffff;
}

.contact h2{
    color: var(--tealLight);
}

.contact .container {
    background: url(./assets/BG\ land.jpg);
    background-size: cover;
    background-position: top ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.detail .container .back {
    background: url(./assets/back.png);
    background-size: cover;
    background-position: center;
}

@media (max-width: 320px) {

    .welcome .container .wrapper {
        backdrop-filter: blur(0px);
        border: none;
        box-shadow: none;
    }
}