:root {
    --gray1: #ffffff;
    --gray2: #F7F7F7;
    --gray3: #E0E0E0;
    --gray4: #CFCFCF;
    --gray5: #BDBDBD;

    --tealDark: #1ea4d7;
    --tealLight: #0f7261;
}

body {
    background-color: var(--gray1);
}

header {
    background-color: var(--gray2);
    box-shadow: 0 -10px 20px 20px var(--tealLight);
}

header nav a {
    text-decoration: none;
}

header nav .logo {
    background: url(./assets/icon_dark.png);
}

header nav .wrapper .p1 {
    color: #000000;
}

header nav .wrapper .p2 {
    color: #504f4f;
}

header nav .link {
    color: #000000;
    background: var(--gray2);
}

header nav .link:hover {
    background: var(--tealDark);
    box-shadow: 0 2px 10px #00000094;
}

.welcome .container .bg {
    background: url(./assets/gallery/photos/IMG_2107.png);
    background-size: cover;
    background-position: top ;
    background-repeat: no-repeat;
}

.welcome .container .wrapper .h {
    color: #ffffff;
}

.welcome .container .wrapper .cursivep {
    color: #ffffff;
}

.welcome .container .wrapper .p {
    color: #c9c9c9;
}

.welcome .container .checkGallery {
    background: var(--tealLight);
    color: #ffffff;
}

.gallery .container {
    background: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container .wrapper .h {
    color: #000000;
}

.gallery .container .wrapper .p {
    color: #000000;
}

.gallery .container a {
    color: var(--tealLight);
}

.el {
    background: var(--tealDark);
}

.packages .container .h {
    background: #252a31;
    color: #ffffff;
}

.tier1,
.tier2,
.tier3 {
    background: var(--tealLight);
}

.empty1,
.empty2,
.empty3 {
    background-color: #373737;
}

.packages .container .el .p {
    color: #000000;
}

.packages .container .el .price {
    color: #000000;
}

.packages .container .offer {
    color: #f08285;
    background: #303030;
}
