@font-face {
    font-family: cursivefont;
    src: url(./assets/fonts/DeliciousHandrawn-Regular.ttf);
}

@font-face{
    font-family: sansita;
    src: url(./assets/fonts/Sansita.ttf);
}

@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

* ::-webkit-scrollbar {
    display: none;
}

.ham {
        position: absolute;
        height: 50px;
        width: 50px;
        right: -100px;
        transition: all 0.5s;
}

.hammenu {
    position: absolute;
    height: calc(100vh - 100px);
    width: 100vw;
    top: -100vh;
    transition: top 0.5s cubic-bezier(0.73, 0, 0, 0.98);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    top: 100px !important;
}

.hammenuitem {
    font-family: poppins;
    font-size: 30px;
    padding: 10px 20px;
    text-decoration: underline;
    transition: all 0.5s;
    width: 100%;
    text-align: center;
    border-left: none;
    border-right: none;
}

.hammenuitem:nth-child(1) {
    border-top: none;
}
.hammenuitem:last-child {
    border-bottom: none;
}

.hammenuitem a {
    text-decoration: none;
}

.main_container{
    height: calc(100vh - 100px);
    width: 100vw;
    overflow: scroll;
    z-index: 1;
}

header {
    height: 100px;
    width: 100%;
    z-index: 100;
    position: relative;
}

header nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding-right: 20px;
    position: absolute;
    overflow: hidden;
}

header nav a {
    text-decoration: none;
}

header nav .logo {
    height: 90px;
    width: 90px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}

header nav .wrapper {
    display: flex;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: auto;
}

header nav .wrapper .p1 {
    font-family: sansita;
    font-size: 60px;
    margin-top: -13px;
}

header nav .wrapper .p2 {
    font-family: sansita;
    font-size: 40px;
    margin-top: -20px;
}

header nav .linkwrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: absolute;
    right: 25px;
    transition: all 0.5s cubic-bezier(0.73, 0, 0, 0.98);
}

header nav .link {
    font-family: poppins;
    font-size: 18px;
    padding: 10px;
    margin: 0 5px;
    border: 0;
    border-radius: 10px;
}

header nav .link:hover {
    transition: 0.5s cubic-bezier(0.73, 0, 0, 0.98);
}

.page {
    position: relative;
    height: calc(100vh - 100px);
    width: 100%;
    padding: 25px;
    display: flex;
}

.page .container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .container .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 95%);

}

.welcome .container .wrapper {
    position: absolute;
    width: calc(100% - 100px);
    max-width: 550px;
    bottom: 100px;
    left: 50px;
}

.welcome .container .wrapper .h {
    font-family: sansita;
    font-size: 80px;
    margin-bottom: 20px;
}

.welcome .container .wrapper .cursivep {
    font-family: cursivefont;
    font-size: 25px;
}

.welcome .container .wrapper .p {
    font-family: poppins;
    font-size: 18px;
    text-align: justify;
}

.welcome .container .checkGallery {
    /*position: absolute;
    bottom: 10px;
    padding: 15px;
    border-radius: 30px;
    font-family: sansita;
    font-size: 20px;*/
    display: none;
}

.gallery {
    height: fit-content;
}

.gallery .container {
    height: max-content;
    justify-content: start;
    padding-bottom: 100px;
    box-shadow: 0 0 20px 0px #ffffff12;
}

.gallery .container .wrapper {
    max-width: 550px;
    top: 50px;
    left: 50px;
}

.gallery .container .wrapper .h {
    font-family: sansita;
    font-size: 60px;
    margin-bottom: 10px;
}

.gallery .container .wrapper .p {
    font-family: poppins;
    font-size: 18px;
    text-align: justify;
}

.gallery .container .checkGallery {
    position: absolute;
    bottom: 10px;
    padding: 15px;
    border-radius: 30px;
    font-family: sansita;
    font-size: 20px;
}

.packages {
    height: fit-content;
}
 
.packages .container {
    display: grid;
    position: unset;
    align-items: stretch;
    padding: 0;
    width: 100%;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "p p p"
        "tier1 tier2 tier3"
        "empty1 logodesign logodesign"
        "empty2 empty2 logoanimation"
        "flyers flyers empty3"
        "photos photos photos"
        "graphics graphics graphics"
        "offer offer offer";
}

.packages .container .el hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.el {
    margin: 2px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.packages .container .h {
    grid-area: p;
    font-family: sansita;
    font-size: 60px;
    margin-top: -5px;
}

.tier1 {
    grid-area: tier1;
}
.tier2 {
    grid-area: tier2;
}
.tier3 {
    grid-area: tier3;
}
.empty1 {
    grid-area: empty1;
}
.logodesign {
    grid-area: logodesign;
}
.empty2 {
    grid-area: empty2;
}
.logoanimation {
    grid-area: logoanimation;
}
.flyers {
    grid-area: flyers;
}  
.empty3 {
    grid-area: empty3;
}
.photography {
    grid-area: photos;
}
.graphics {
    grid-area: graphics;
}

.packages .container .el .p {
    font-family: sansita;
    font-size: 30px;
    height: 100%;
    width: 100%;
}

.packages .container .el .price {
    font-family: poppins;
    font-size: 20px;
    height: 100%;
    width: 100%;
    display: flex;
}

.prices {
    display: inline;
    width: 100%;
    text-align: center;
}

.packages .container .el .pun {
    height: unset;
}

.packages .container .offer {
    font-family: poppins;
    grid-area: offer;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 2px;
}

.detail {
    height: fit-content;
}

.detail .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: start;
}

.detail .hp {
    font-family: sansita;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.detail .container .h {
    font-family: sansita;
    font-size: 40px;
    margin-bottom: 10px;
    width: fit-content;
}

.detail .content {
    margin-bottom: 25px;
}

.detail .p {
    font-family: poppins;
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}

.detail ul {
    padding-left: 20px;
    list-style: none;
}

.detail li {
    font-family: poppins;
    font-size: 16px;
    margin: 5px 0;
    line-height: 1.5;
}

.detail li::before {
    content: "• ";
}

.con-container {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    z-index: 1;
}

label {
    font-family: sansita;
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}

select, input[type="text"], button {
    width: 100%;
    padding: 10px;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: poppins;
    font-size: 1rem;
    padding-right: 50px;
}

select:focus, input[type="text"]:focus, button:focus {
    outline: none;
}

button {
    cursor: pointer;
    transition: all 0.5s;
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-family: sansita;
    font-size: 1.2rem;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#detailsField {
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 18px;
}

.contact h2{
    font-family: sansita;
    font-size: 2rem;
    margin-bottom: 1rem;
	transition: all 0.5s;
}

.detail .container .back {
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}

@media (max-width: 700px) {

    .linkwrap {
        right: -500px !important;
    }

    .ham {
        right: 25px;
        transition: all 0.5s;
    }

    .welcome .container .wrapper {
        width: calc(100% - 50px);
        left: 25px;
    }

    .welcome .container .wrapper .h {
        font-size: 50px;
    }

    .welcome .container .wrapper .cursivep {
        font-size: 30px;
    }

    .welcome .container .wrapper .p {
        font-size: 17px;
    }

    .checkGallery {
        scale: 0.8;
    }

    .gallery .container {
        padding: 20px;
    }

    .gallery .container .wrapper {
        width: 100%;
    }

    .gallery .container .wrapper .h {
        font-size: 40px;
    }

    .gallery .container .wrapper .p {
        font-size: 16px;
    }

    .packages .container .h {
        font-size: 40px;
    }

    .packages .container .el .p {
        font-size: 20px;
    }

    .packages .container .el .price {
        font-size: 16px;
    }

    .packages .container .offer {
        font-size: 16px;
    }

    .detail .container .h {
        font-size: 30px;
    }

    .detail .hp {
        font-size: 25px;
    }

    .detail .p {
        font-size: 20px;
    }

    .detail li {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .page {
        padding: 5px;
    }

    .detail .container {
        padding: 15px;
    }

    .welcome {
        padding: 0;
        border-radius: 0 ;
    }

    .welcome .container{
        width: 100%;
        border-radius: 0 ;
    }

    .welcome .container .bg {
        border-radius: 0;
    }

    .welcome .container .wrapper {
        width: calc(100% - 20px);
        left: 10px;
    }

    .contact {
        padding: 0;
        border-radius: 0;
    }

    .contact .container {
        width: 100%;
        padding: 15px;
        border-radius: 0;
    }
    
    header nav .logo {
        margin-left: 5px;
        height: 75px;
        width: 75px;
    }

    header nav .wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    header nav .wrapper .p1 {
        font-size: 50px;
    }

    header nav .wrapper .p2 {
        font-size: 33px;
        margin-top: -16px;
    }

}

@media (max-width: 320px) {

    .welcome .container .wrapper {
        width: calc(100% - 20px);
        left: 10px;
    }
    .welcome .container .wrapper .p {
        display: none;
    }

    .contact {
        height: fit-content;
    }

    .contact .container {
        width: 100%;
        padding: 5px;
    }
}
